[Desktop Entry]
Name=Mgdiff
Comment=Graphical file difference browser
Comment[pl]=Graficzna przeglądarka różnic pomiędzy plikami
Exec=mgdiff
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Utility;
# vi: encoding=utf-8
