[Desktop Entry]
Name=mgdiff
Comment=Graphical file difference browser
Comment[pl]=Graficzna przegl±darka ró¿nic pomiêdzy plikami
Exec=mgdiff
Terminal=0
Type=Application
