[Desktop Entry]
Name=Mgdiff
Comment=Graphical file difference browser
Comment[pl]=Graficzna przeglądarka różnic pomiędzy plikami
Exec=mgdiff
Terminal=0
Type=Application
# vi: encoding=utf-8
